A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
.f11 {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #05006c
}
.txt {
	FONT-SIZE: 14px; LINE-HEIGHT: 130%
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 18px
}
BODY {
	FONT-SIZE: 9pt; BACKGROUND-ATTACHMENT: fixed; SCROLLBAR-HIGHLIGHT-COLOR: buttonface; SCROLLBAR-SHADOW-COLOR: buttonface; SCROLLBAR-3DLIGHT-COLOR: buttonhighlight; SCROLLBAR-ARROW-COLOR: #620202; SCROLLBAR-TRACK-COLOR: #eeeeee; SCROLLBAR-DARKSHADOW-COLOR: buttonshadow
}
SELECT {
	FONT-SIZE: 9pt
}
INPUT {
	FONT-SIZE: 9pt; HEIGHT: 18px
}
TEXTAREA {
	FONT-SIZE: 9pt
}
FORM {
	FONT-SIZE: 9pt
}
OPTION {
	FONT-SIZE: 9pt
}
TD {
	FONT-SIZE: 9pt; COLOR: #333333; LINE-HEIGHT: 1.2
}
BR {
	FONT-SIZE: 8pt
}
LI {
	FONT-SIZE: 9pt
}
