body{SCROLLBAR-FACE-COLOR: #0f2241; SCROLLBAR-HIGHLIGHT-COLOR: #505050; SCROLLBAR-SHADOW-COLOR: #111111; SCROLLBAR-3DLIGHT-COLOR: #202020; SCROLLBAR-ARROW-COLOR: #c0c0c0; SCROLLBAR-TRACK-COLOR: #0f2233; SCROLLBAR-DARKSHADOW-COLOR: #202020}
TD {
	FONT-SIZE: 12px; COLOR: #d1d1d1; LINE-HEIGHT: 20px
}
A {
	FONT-SIZE: 12px; COLOR: #cccccc; TEXT-DECORATION: none
}
A:hover {
	COLOR: #74badc; TEXT-DECORATION: underline
}
