body{  font-size: 75%; font-family:"Verdana", "Arial", "ו"; }
 td{font-size:9pt;line-height: 12pt}
 p{ font-size:9pt;line-height: 18pt}
 li{font-size:9pt;line-height: 18pt}
BigFont{ font-size:11pt;}
select.smallselsect{font-size:9pt;
color:rgb(0,0,128) ;}
input.smallInput{font-size: 9pt; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; height: 18px; clip:  rect(   ); color: #000000; border-color: black #FDCADC #FDCADC black; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px; background-color: #FFFFFF}
textarea.smallarea
     {font-size:9pt;
     background-color: white;
     color: rgb(0,0,128) ;line-height: 12pt}
INPUT.buttonface {
	font-size: 9pt; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; height: 18px; clip:  rect(   ); color: #000000; border-color: black #FDCADC #FDCADC black; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; background-color: #FDCADC
}
TD.cls3
{   
    BORDER-BOTTOM: #FFB811 2px solid;
}
.b {
	border-top-width: 0px;
	border-top-style: solid;
	border-top-color: #FCE7A5;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #FCE7A5;
	border-bottom-color: #FCE7A5;
	border-left-color: #FCE7A5;
}
td {font-size:12px; color:#000000; line-height:130%}
.tt1{font-size:12px; color:#003366; line-height:170%}
.tt2 {font-size:12px; color:#003366}
.tt3 {font-size:12px; color:red}
.tt4 {font-size:12px; color:#003366}
.tt5 {font-size:14px; color:#333300}

.F1 {font-size:6px;color:#336600; text-align:center;}
.F2 {font-size:12px; color:003366}

.n5 {color:#FF0000;font-size:12px}
.n5 {color:#FF0000;font-size:12px}
.n5 {color:#FF0000;font-size:12px}
.n5 {color:#FF0000;font-size:12px}

a:link {color:#003366}
a:visited {color:#003366}
a:active {color:#FF0000}
a:hover {color:#FF0000}
