.f12 {
	font-size: 12px;
}
.color {
	color: #000000;
}
.co {
	color: #93abe3;
}
.co1 {
	color: #000000;
}
.co1 {
	color: #000000;
}
.table_bk {
	border: 2px solid #333333;
	color: #333333;
	background-color: #E8E8F0;
	font-size: 12px;
	line-height: 150%;
}
.bcd3d7ea {
	background-color: #d3d7ea;
}

</body>
</html>