A:link {
	FONT-SIZE: 9pt; CURSOR: crosshair; COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 9pt; CURSOR: crosshair; COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 9pt; COLOR: #ff9933; TEXT-DECORATION: none
}
FONT {
	FONT-SIZE: 9pt
}
.text {
	FONT-SIZE: 9pt
}
P {
	FONT-SIZE: 9pt
}
INPUT {
	BORDER-RIGHT: 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid; FONT-FAMILY: "ו"
}
TD {
	FONT-SIZE: 9pt
}
BODY {
	FONT-SIZE: 9pt
	SCROLLBAR-FACE-COLOR: 996600; SCROLLBAR-HIGHLIGHT-COLOR: 
996600; SCROLLBAR-SHADOW-COLOR: #999000; SCROLLBAR-3DLIGHT-COLOR: #999000; SCROLLBAR-ARROW-COLOR: 
#996600; SCROLLBAR-TRACK-COLOR: #663300; SCROLLBAR-DARKSHADOW-COLOR: #999000; 
}
.fill {
	BORDER-RIGHT: #e1f0ff 1px solid; BORDER-TOP: #e1f0ff 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #e1f0ff 1px solid; BORDER-BOTTOM: #178bff 1px solid; BACKGROUND-COLOR: #e1f0ff
}