<style type="text/css">
{}
a:link {text-decoration:none; color:blue}
a:hover {text-decoration:underline; color:blue}
a:visited {text-decoration:none; color:blue}
p {font-size:14; color:blue; line-height:16pt}
div { font-size:9pt;}
body {  font-family: "ו", "serif"; font-size:14; line-height:170%;}
td { font-family:"ו", "serif"; font-size:14; line-height:12pt}
input {  font-size:9pt}
select { font-size:9pt}
textarea { font-size:9pt}
</style>
