A:link {
	COLOR: #cccccc; TEXT-DECORATION: none
}
A:visited {
	COLOR: #cccccc; TEXT-DECORATION: none
}
A:active {
	TEXT-DECORATION: none
}
A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.a01:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.a01:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.a01:active {
	TEXT-DECORATION: none
}
A.a01:hover {
	COLOR: #ff00ff; TEXT-DECORATION: underline
}
.pbox {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
TD {
	FONT-SIZE: 12px
}
P {
	FONT-SIZE: 12px
}
INPUT {
	FONT-SIZE: 12px
}
SELECT {
	FONT-SIZE: 12px
}
.b1 {
	FONT-SIZE: 12px; LINE-HEIGHT: normal; FONT-STYLE: normal
}
.b2 {
	FONT-SIZE: 12px; LINE-HEIGHT: 18px; FONT-STYLE: normal
}
.b3 {
	FONT-SIZE: 12px; BACKGROUND-REPEAT: no-repeat
}
.w9 {
	FONT-SIZE: 14px; COLOR: #ffffff! important; LINE-HEIGHT: 19px
}
