a:active {  color: #FF3333}
TABLE {	font-family: "ו";FONT-SIZE: 9pt }
INPUT {	FONT-SIZE: 9pt }
SELECT{ FONT-SIZE: 9pt }
BODY {	FONT-SIZE: 9pt }
a:link { color: #000000; text-decoration: none}
a:visited { color:#000000; text-decoration: none}
a:hover { color: #CC0000; text-decoration: underline}
td {font-size:9pt;line-height:13pt;}
.p1 {  font-family: "ו"; font-size: 9pt}
.p2 {  }